@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
    --primary-color: #333;
    --secondary-color: #eee;
    --mid-gray: #aaa;
    --light-gray: #ccc;
    --pale-gray: #ddd;
    --off-white: #f7f7f7;
    --white: #fff;
	--darker-gray: #666666;
    --black: #000;
    --alert-color: #f00;
	--blue: #007bff;
	--purple: #5d00ff;
}
::selection {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
body {
	font-family: "IBM Plex Mono", monospace;
	color: var(--primary-color);
	margin: 0;
	position: relative;
	line-height: 1.5em;
	font-size: 15px;
	background-color: var(--primary-color);
	background: repeating-linear-gradient(
		45deg,
		var(--mid-gray),
		var(--mid-gray) 2px,
		var(--light-gray) 2px,
	    var(--light-gray) 6px
	);
	background-attachment: fixed;
}
h2 {
	font-size: 1.5em;
    font-weight: 700;
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-bottom: 2px solid;
	position: relative;
}
h2::before,
h2::after {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 15px;
	height: 100%;
	left: -15px;
	border: 2px solid;
	border-left: none;
	vertical-align: text-bottom;
}
h2::after {
	left: unset;
	right: -15px;
	border-right: none;
	border-left: 2px solid;
}
h2 > small {
	font-size: small;
	font-weight: 400;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th,
td {
	border: 2px solid var(--primary-color);
	padding: 8px;
	text-align: left;
}
tr:hover td {
	background: var(--off-white);
}
th {
	background-color: var(--darker-gray);
	color: var(--white);
}
td.rating {
	color: var(--alert-color);
	font-size: x-large;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	padding: 5px 0;
	border-bottom: 2px solid;
}
a {
	color: var(--blue);
	transition: all ease-in-out 0.5s;
	overflow-wrap: break-word;
}
a:hover {
	color: var(--purple);
}
main {
    display: grid;
	grid-template-columns: repeat(6, 15.25%);
	grid-gap: 0 1.67%;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid;
	width: clamp( 350px, 1000px, calc(100% - 40px) );
	background: var(--pale-gray);
	box-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px;
}
main > section {
	margin-bottom: 20px;
	padding: 15px;
	background-color: var(--off-white);
	border: 2px solid;
	grid-column: 1 / 7;
	box-shadow: inherit;
	transition: all ease-in-out 0.5s;
}
main > section:hover {
	background: var(--white);
	color: var(--black);
}
.table-wrap {
	max-width: 100%;
	overflow-x: auto;
}
#hero {
	text-align: center;
}
#hero h2 {
    border: none;
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 10px;
}
#hero p {
    font-size: 1.25em;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10px;
}
.contact > div {
    font-size: 1.25em;
    line-height: 1.5em;
    border-bottom: 2px solid;
    padding: 5px 0;
}
.reading-list li {
	font-style: italic;
}
.reading-list li a {
	font-style: normal;
}

@media (min-width: 767px) {
	main .contact {
		grid-column: 1 / 7;
	}
	main .websites {
		grid-column: 1 / 5;
	}
	main .social {
		grid-column: 5 / 7;
	}
	main .codepen {
		grid-column: 1 / 7;
	}
	main .reading-list {
		grid-column: 1 / 7;
	}
	main .watch-list {
		grid-column: 1 / 7;
	}
	.contact > div {
		width: 50%;
		float: left;
		display: flex;
		border-left: 2px solid;
		padding-left: 10px;
		margin-left: -2px;
		border-bottom: none;
	}
}

/*Close Button Rules*/
main :where(#hero, .about, .contact) button {
	display: none;
}
main button {
	appearance: none;
	border: inherit;
	color: inherit;
	font-family: arial;
	font-size: 24px;
	line-height: 1.1em;
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	text-align: center;
	float: right;
	z-index: 9;
	position: relative;
	background: #eee;
}
main button:hover {
	background: #666;
	border-color: #666;
	color: white;
}
