---

---

<section class="about">
    <h2>About Mack</h2>
    <p>
        I'm Mack Richardson. A Filemaker & web developer based in North
        Carolina. I develop applications and websites as Senior Developer at
        <a href="https://www.diamondassets.com/" target="_blank"
            >Diamond Assets</a
        >.
    </p>
    <p>
        I also love vintage comic books, toys, games and pulp sci-fi novels. I
        occasionally post videos about my hobby on YouTube as <a
            href="https://www.youtube.com/@mackdaddyfun"
            target="_blank">MackDaddy Fun &amp; Games</a
        >.
    </p>

    <style>
        p {
            margin-bottom: 1rem;
            padding-inline: 2rem;
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    </style>
</section>
