---

---

<section class="codepen">
    <h2>
        Mack's CodePens <small
            >(<a href="https://codepen.io/macktropolis" target="_blank"
                >See all &rarr;</a
            >)
        </small>
    </h2>
    <ul>
        <li>
            <a
                href="https://codepen.io/macktropolis/pen/gbYdWqB/532a0ad4eb82e218a8f5fe3b3474d78f"
                target="_blank">Comic Book Panel Grid v2</a
            >
        </li>
        <li>
            <a
                href="https://codepen.io/macktropolis/pen/bNbgzPB"
                target="_blank">
                Apple Intelligence Animated Gradient Border
            </a>
        </li>
        <li>
            <a
                href="https://codepen.io/macktropolis/pen/dyRNeLM/3b24baa0b65b3764f90605bd0025c07e"
                target="_blank">Rotating Starburst</a
            >
        </li>
        <li>
            <a href="https://codepen.io/macktropolis/pen/AEMBOE" target="_blank"
                >Travel by TARDIS CSS De-Materialization Effect</a
            >
        </li>
        <li>
            <a href="https://codepen.io/macktropolis/pen/vNMRpK" target="_blank"
                >Fallout Terminal Inspired CSS Theme</a
            >
        </li>
    </ul>
</section>
