---
// data imports
import * as site from "../data/codepen.json";

// component imports
import Item from "./Item-Link.astro";
const { codepen } = site;
---

<section class="codepen">
    <h2>
        Mack's CodePens <small
            >(<a href="https://codepen.io/macktropolis" target="_blank"
                >See all &rarr;</a
            >)
        </small>
    </h2>
    <ul>
        {codepen.map((item) => <Item item={item} />)}
    </ul>
</section>
