---

---

<section class="contact">
    <h2>Contact Mack</h2>
    <div>
        <strong>Phone:</strong> &nbsp;<a href="tel:+13364031746"
            >+1 336 403-1746</a
        >
    </div>
    <div>
        <strong>Email:</strong> &nbsp;<a href="mailto:mack@mackrichardson.com"
            >mack@mackrichardson.com</a
        >
    </div>
</section>
