---

---

<section class="social">
    <h2>Social Media</h2>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/macktropolis/" target="_blank"
                >LinkedIn</a
            >
        </li>
        <li>
            <a href="https://www.facebook.com/macktropolis" target="_blank"
                >Facebook</a
            >
        </li>
        <li>
            <a href="https://twitter.com/Macktropolis" target="_blank"
                >X <i>(formerly Twitter)</i></a
            >
        </li>
        <li>
            <a href="https://www.instagram.com/macktropolis/" target="_blank"
                >Instagram</a
            >
        </li>
        <li>
            <a href="https://www.youtube.com/@mackdaddyfun" target="_blank"
                >YouTube</a
            >
        </li>
    </ul>
</section>
