---

---

<section class="watch-list">
    <h2>Recent Binge Watching</h2>
    <div class="table-wrap">
        <table>
            <tr>
                <th>Title</th>
                <th>Media</th>
                <th>Rating</th>
            </tr>
            <tr>
                <td>War &amp; Peace</td>
                <td>Prime Video</td>
                <td class="rating">***</td>
            </tr>
            <tr>
                <td>Severence</td>
                <td>Apple TV+</td>
                <td class="rating">*****</td>
            </tr>
            <tr>
                <td>Filmore!</td>
                <td>DVD</td>
                <td class="rating">****</td>
            </tr>
        </table>
    </div>
</section>
