---
// data imports
import * as site from "../data/watching.json";

// component imports
import Row from "./WatchListRow.astro";
const { watching } = site;
---

<section class="watch-list">
    <h2>Recent Viewing</h2>
    <div class="table-wrap">
        <table>
            <tr>
                <th>Title</th>
                <th>Media</th>
                <th>Rating</th>
            </tr>
            {watching.map((item) => <Row item={item} />)}
        </table>
    </div>
</section>
