---

---

<section class="websites">
    <h2>Websites</h2>
    <ul>
        <li>
            Mack Richardson: <a
                href="https://www.mackrichardson.com"
                target="_blank">https://www.mackrichardson.com</a
            >
        </li>
        <li>
            Hire Mack: <a href="https://www.hiremack.com" target="_blank"
                >https://www.hiremack.com</a
            >
        </li>
        <li>
            Rocket Comics: <a
                href="https://www.rocketcomics.com"
                target="_blank">https://www.rocketcomics.com</a
            >
        </li>
        <li>
            Richardson Family Holiday Cards: <a
                href="/holiday-cards/"
                target="_blank">https://www.mackrichardson.com/holiday-cards/</a
            >
        </li>
    </ul>
</section>
